body{
    background-color: var(--background-color);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 280px;
    flex-direction: column;
    background-color: var(--advice-card-color);
    border-radius: 15px;
}

.card .advice-number{
    color: var(--advice-dice-color);
    margin: 30px;
    font-size: 1rem;
}

.card .advice-content{
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 0px 30px;
    text-align: center;
}

.div-pic img{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.advice-update{
    background: var(--advice-dice-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translateY(250%);
    border: none;
}

.advice-update:hover{
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}

@media(min-width: 768px){
    .advice-content{
        padding-inline: 50px;
        width: 386px;
    }
    .advice-content p{
        font-size: 21px;
        padding: 26px;
    }
}